!!!
%html
  %head
    %title Inthebag
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
  %body
    = yield

  = render partial: 'layouts/partials/footer'